.video-list {
  height: 400px;
  overflow: auto;
  width: 50%;
  margin: 2rem;
}
.video-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  &__controls {
    display: flex;
    align-items: center;
  }
  &__delete {
    cursor: pointer;
    margin-right: 10px;
  }
  &__duration {
    font-weight: bold;
    margin-left: 10px;
  }
}
.add-video-form {
  display: flex;
  justify-content: space-between;
  &__text {
    flex: 5;
    padding: 5px;
    margin-right: 5px;
  }

  &__submit-btn {
    padding: 3px;
  }
}
