.video-list {
  height: 400px;
  overflow: auto;
  width: 50%;
  margin: 2rem;
}
.video-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
}
.add-video-form {
  display: flex;
  justify-content: space-between;
  & .text {
    flex: 5;
    padding: 5px;
    margin-right: 5px;
  }

  & .submit-btn {
    padding: 3px;
  }
}
